body {
    font-family: 'SimSun', 'Microsoft YaHei';
    background: url(../imgs/4.jpg) no-repeat;
    background-size: 100% 100%;
}

/* 取消文本被选中通用类 */
.unSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#oNoteBack {
    position: absolute;
    right: 80px;
    width: 100px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#bin {
    width: calc(640px + 17px);
    margin: 0 auto;
}
#note-side {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(20vw + 17px);
    width: -moz-calc(20vw + 17px);
    width: -webkit-calc(20vw + 17px);
    height: 100vh;
    border: 1px solid #c9c9c9;
}
.bin-header {
    position: relative;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    height: 10vh;
    border-bottom: 1px solid #c9c9c9;
    padding: 5px 20px;
    color: #000;
    font-size: 25px;
    text-align: left;
}
.bin-header p {
    position: absolute;
    height: 10vh;
    line-height: 10vh;
}
.bin-main {
    width: 640px;
    height: 90vh;
    color: #000;
    font-size: 20px;
}

/* 放所有笔记的父容器 */
#oBin-main-ul {
    width: calc(100% + 17px);
    width: -moz-calc(100% + 17px);
    width: -webkit-calc(100% + 17px);
    height: calc(100% - 13px);
    overflow-x: hidden;
    /* overflow-y: scroll; */
}
/* 每个笔记 */
.bin-main-li {
    position: relative;
    width: 100%;
    height: 120px;
    cursor: pointer;
}
/* 每个笔记的标题 */
.bin-main-li  h5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 15px;
    line-height: 15px;
    padding: 10px 20px 5px 20px;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 800;

    /* 设置文本溢出显示为省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bin-main-li div {
    position: absolute;
    top: 50;
    right: 10px;
    height: 20px;
    line-height: 14px;
    padding: 10px 0 5px 0;
    float: right;
}
.bin-main-li div span {
    display: block;
    position: relative;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    padding: 0 5px;
    text-align: center;
    font-size: 12px;
    color: #666;
    border: 1px solid #878787;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bin-main-li div span:hover  {
    opacity: .6;
    filter: alpha(opacity = 60);
    -webkit-filter: alpha(opacity = 60);
}
/* 笔记略缩图的布局 */
.bin-main-li main {
    position: absolute;
    top: 30px;
    left: 0;
    width: calc(100% - 45px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 60px;
    line-height: 15px;
    margin: 2px 0 3px 0;
    padding: 0 20px;
    color: #878787;

    /* 文本超出内容区，显示省略号 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;  /*第四行显示省略号*/
    overflow: hidden;
}
/* 从数据库中调笔记时，调整里面的字体大小，防止文字过大引起布局混乱 */
.bin-main-li main * {
    font-size: 12px;
    overflow: hidden;
}
.bin-main-li:hover h5,
.bin-main-li:hover main,
.bin-main-li:hover i,
.bin-main-li:hover div span {
    color: #fff;
}
.bin-main-li:hover div span {
    border: 1px solid #fff;
}
.bin-main-li:hover {
    background-color: #40bc6c;
}
.bin-main-li:hover * {
    border-color: #40bc6c;
    background-color: #40bc6c;
}
/* 笔记的创建时间 */
.bin-main-li i {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    height: 15px;
    line-height: 15px;
    padding: 5px 20px 5px 20px;
    color: #878787;
    text-align: right;
    font-size: 15px;
}
/* 毛玻璃效果 */
.filter-blur {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.filter-blur:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -20px;
    background-image: url(../imgs/4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: -1;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
}