#form {
    position: relative;
    width: 420px;
    height: 800px;
    margin: -800px auto 0 auto;
}
#oLoginForm,
#oRegisterForm {
    display: none;
    width: 400px;

    padding: 20px;
    border: 1px solid #dedede;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
    background-color: rgba(255,255,255,.95);
    z-index: 20;
}
#oLoginForm input:-ms-input-placeholder,
#oRegisterForm input:-ms-input-placeholder {
    color: #999;
}
#oLoginForm input::-webkit-input-placeholder,
#oRegisterForm input::-webkit-input-placeholder {
    color: #999;
}
#oLoginForm input:-moz-placeholder,
#oRegisterForm input:-moz-placeholder {
    color: #999;
}
#oLoginForm input::-moz-placeholder,
#oRegisterForm input::-moz-placeholder {
    color: #999;
}
#oLoginForm label {
    color: #000;
}
#oRegUserLabel {
    position: relative;
}
#oRegEmailLabel {
    position: relative;
}
#oUserExist,
#oEmailExist {
    display: none;
    position: absolute;
    top: 64px;
    left: 5px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #666 transparent;
    z-index: 100;
}
#oUserExist::after {
    content: '用户名已被注册';
    
}
#oEmailExist::after {
    content: '邮箱已被注册';
}
#oUserExist::after,
#oEmailExist::after {
    display: block;
    position: absolute;
    left: -9px;
    top: 4px;
    width: 105px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #666;
    padding: 0 5px;
    background-color: #666;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.userPromptMess::after {
    content: '* 用户名只能包含：纯字母(4-16位) 或 数字+字母(4-16位) 或 纯数字(9-16位)，区分大小写';
    display: block;
    position: absolute;
    left: 430px;
    top: 17px;
    width: 290px;
    height: 60px;

    padding-top: 10px;
    color: red;
    font-weight: 800;
    background-color: #fff;
}
.passPromptMess::after {
    content: '* 密码(6-16位，区分大小写)只能包含:数字、字母、及特殊字符 #$%&* 和英文的 ;,.!?';
    display: block;
    position: absolute;
    left:  450px;
    top: 215px;
    width: 290px;
    height: 60px;

    padding-top: 5px;
    color: red;
    font-weight: 800;
    background-color: #fff;
}
.passwdError {
    overflow-y: hidden;
    text-align: center;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.labelWidth {
    display: inline-block;
    width: 90px;
}
.login-form{
    position: absolute;
    top: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.register-form{
    position: absolute;
    top: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.form-input {
    width: 92%;
    height: 30px;

    outline: 0;
    margin: 10px 0 15px 0;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

    text-decoration: none;
    font-size: 15px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    background-color: rgba(255,255,255,.8);
    color: #000;
}
.login-input {
    border: 1px solid #79d2bd;
}
.register-input {
    position: relative;
    border: 1px solid #8779d2;
}
.right {
    background: #fff url(../imgs/right.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.error {
    position: relative;
    background: #fff url(../imgs/error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

.form-saveMe {
    width: 130px;
}
#oCheckbox {
    width: 15px;
    height: 15px;
    margin-top: 10px;
}
label[for=oCheckbox] {
    display: inline-block;
    width: 100px;
}

.from-button {
   position: relative;
   outline: none;

   width: 400px;
   height: 70px;
   
   margin: 20px 0 10px 0;
   padding: 20px 0;
   border: none;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;

   color: white;
   font-size: 1.5em;
   cursor: pointer;
}
#oLoginBtn {
    background-color: #79d2bd; 
}
#oRegisterBtn {
    background-color: #8779d2;
}

.register-form-passwdTest {
    position: relative;
    width: 100%;
    height: 10px;
    line-height: 10px;
    
    margin-bottom: 10px;

    white-space: nowrap;
}
.register-form-passwdTest div {
    position: absolute;

    width: 32%;
    height: 10px;

    background-color: #000;
}
.register-form-passwdTest div:first-child {
    left: 0;
    border: 1px solid #999;
    background-color: #fff;
}
.register-form-passwdTest div:nth-child(2) {
    left: 34%;
    border: 1px solid #999;
    background-color: #fff;
}
.register-form-passwdTest div:last-child {
    right: 0;
    border: 1px solid #999;
    background-color: #fff;
}
.register-form-testWord {
    position: relative;
    width: 100%;
    height: 10px;
    line-height: 10px;
    
    margin-bottom: 10px;

    white-space: nowrap;
}
.register-form-testWord div {
    position: absolute;

    width: 32%;
    height: 10px;

    text-align: center;
}
.register-form-testWord div:first-child {
    left: 0;
}
.register-form-testWord div:nth-child(2) {
    left: 34%;
}
.register-form-testWord div:last-child {
    right: 0;
}