/* 取消文本被选中通用类 */
.unSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#mask {
    position: absolute;
    left: -400px;
    right: 0;
    width: calc(100vw + 1000px);
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;

    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    transform: skew(45deg);
}

#init {
    position: relative;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    font-size: 100px;
    z-index: 10;
    color: #000;
}
#logo {
    position: relative;
    left: 40%;
    top: 100px;
    width: 200px;
    height: 50px;
    cursor: default; 
    z-index: 30;
}
#logo svg {
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    font-size: 50px;
    color: #2dbe60;
}
#logo p {
    display: block;
    position: absolute;
    right: 0;

    width: 75%;
    height: 100%;

    color: #000;
    font-size: 40px;
    text-align: center;
}
#oInitLogin,
#oInitRegister {
    position: absolute;
    top: 325px;
    cursor: pointer;
}
.borderLine span {
    position: relative;
    display: block;
    width: 180px;
    height: 120px;
    margin: 0;
    padding: 30px;
    white-space: nowrap;
    border: 2px solid #666;
}
.borderLine span::before,
.borderLine span::after {
  content: '';
  position: absolute;
  transition: 200ms ease-in;
  -webkit-transition: 200ms ease-in;
  -moz-transition: 200ms ease-in;
  -ms-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: #fff;
}
.borderLine span::before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.borderLine span::after {
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.borderLine:hover span::before {
    width: 0;
}

.borderLine:hover span::after {
    height: 0;
}

.borderLine p {
    position: absolute;
    white-space: nowrap;
    width: 200px;
    height: 136px;
    left: 23px;
    top: 23px;
    z-index: 100;
}

.init-login {
    left: 150px;
}
.init-register {
    right: 150px;
}
.init-line {
    display: block;
    position: absolute;
    left: 500px;
    top: 315px;

    height: 210px;
    width: 0px;
    
    margin: 0 auto;
    border:2px solid #111;
}

#corner {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    margin-top: -800px;
}
.corner-lr {
    position: absolute;

    margin: 0 auto;
    border-style: solid;
    border-width: 150px;
    
    cursor: pointer;
}
.corner-login{
    z-index: -1;
    top: 0;
    right: 0;

    border-color: #79d2bd #79d2bd transparent transparent;
}
.corner-register{
    z-index: -1;
    bottom: 0;
    left: 0;
    border-width: 160px;

    border-color: transparent transparent #8779d2 #8779d2;
}
.corner-lr-word{
    position: absolute;
    width: 100px;
    height: 50px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    
    font-size: 50px;
    color: #fff;
}
.corner-login div {
    bottom: calc(50% + 40px);
    right: calc(-50% - 100px);
}
.corner-register div {
    top: calc(50% + 10px);
    left: calc(-50% - 100px);
}