body {
    background: url(../imgs/1.jpg) no-repeat;
    background-size: 100% 100%;
}

#oMarkBack {
    position: absolute;
    right: 80px;
    width: 100px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#mark {
    width: 640px;
    height: 100%;
    margin: 0 auto;
}
.mark-header {
    position: relative;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    height: 15vh;
    border-bottom: 1px solid #c9c9c9;
    padding: 5px 20px;
    color: #000;
    font-size: 20px;
    text-align: left;
}
.mark-header-word {
    height: 70px;
}
.mark-header p {
    position: absolute;
    height: 60px;
    line-height: 60px;
}
#oPlusMark {
    position: absolute;
    left: calc(50% - 17px);
    top: 20px;
    width: 36px;
    height: 36px;
    border: 1px solid #c9c9c9;
    padding: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
    color: #2dbe60;
}
#oPlusMark i {
    font-size: 25px;
    margin-left: 1px;
}
#oPlusMark:hover {
    border: 1px solid #2dbe60;
    background-color: #2dbe60;
    color: #fff;
}
#oPlusMark:hover::after {
    content: '新建标签';
    display: block;
    position: absolute;
    left: calc(100% + 9px);
    top: calc(50% - 12px);
    height: 20px;
    line-height: 20px;
    background-color: #606060;
    color: rgb(223, 223, 223);
    padding: 0 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    white-space: nowrap;
    font-size: 15px;
}
#oPlusMark:hover::before {
    content: '';
    display: block;
    position: absolute;
    left: 29px;
    top: 10px;
    width: 5px;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #606060 transparent transparent;
}
.search-div {
    position: relative;
    bottom: 0;
    width: 80%;
    height: 35px;
    margin: auto auto 0 auto;
    padding: 0 15px;
    border: 1px solid #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: transparent;
}
.search-input {
    position: absolute;
    width: calc(100% - 55px);
    height: 35px;
    border: 0;
    background-color: transparent;
    caret-color: #8779d2;
}
.search-input:-ms-input-placeholder {
    font-size: 15px;
}
.search-input::-webkit-input-placeholder {
    font-size: 15px;
}
.search-input:-moz-placeholder {
    font-size: 15px;
}
.search-input::-moz-placeholder {
    font-size: 15px;
}
.search-logo {
    position: absolute;
    top: calc(50% - 13px);
    right: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.mark-main {
    width: 100%;
    height: calc(100% - 140px);
}
/* 笔记本列表 */
.mark-list {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
}
.mark-li {
    width: calc(100% - 10px);
    min-height: 80px;
    margin: 20px 0;
    border: 5px solid #aaa;
    background-color: #aaa;
    cursor: pointer;
}
.mark-li:first-child {
    margin-top: 10px;
}
.mark-li-top {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #aaa;
}
.mark-list-word {
    position: absolute;
    left: 0;
    width: calc(100% - 60px);
    height: 80px;
    padding: 0 30px;
    color: #444;
}
.mark-list-word h5 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.icon-label {
    font-size: 22px;
    margin-right: 3px;
}
.mark-list-word p {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.mark-list-func {
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    width: 30%;
    height: 20px;
    line-height: 20px;
    color: #666;
}
.mark-list-func span {
    display: block;
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 20px;
    text-align: center;
    font-size: 26px;
    z-index: 10px;
}
.mark-list-func span:nth-child(2) {
    font-size: 28px;
}
.mark-list-func span:hover  {
    opacity: .6;
    filter: alpha(opacity = 60);
    -webkit-filter: alpha(opacity = 60);
}
.iconColorRed {
    color: red;
}
.iconColorGray {
    color: #666;
}
/* 笔记本中的笔记列表 */
.note-list {
    width: 100%;
    min-height: 0;
}
.note-li {
    position: relative;
    width: 100%;
    height: 90px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: rgb(223, 223, 223);
}
.note-li:last-child {
    margin: 0;
}
.note-li:hover {
    background-color: #2dbe60;
}
.note-li:hover main * {
    background-color: #2dbe60 !important;
}
.note-li:hover * {
    color: #fff !important;
}
.note-li h6 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    line-height: 20px;
    padding: 5px 20px 5px 20px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 800;
}
.note-li main {
    position: absolute;
    top: 30px;
    left: 0;
    width: calc(100% - 45px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 60px;
    line-height: 15px;
    margin: 2px 0 3px 0;
    padding: 0 20px;
    color: #878787;

    /* 文本超出内容区，显示省略号 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;  /*第四行显示省略号*/
    overflow: hidden;
}
/* 从数据库中调笔记时，调整里面的字体大小，防止文字过大引起布局混乱 */
.note-li main * {
    font-size: 12px !important;
    overflow: hidden;
}
.note-li i {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    height: 15px;
    line-height: 15px;
    padding: 5px 20px 5px 20px;
    color: #878787;
    text-align: right;
    font-size: 15px;
}