#other-func {
    position: absolute;
    left: 0;
    top: 0;
    width: 88%;
    padding: 0 6%;
    background-color: #e2e2e2;
    z-index: 1;
}
#other-func-user,
#other-func-time,
#other-func-search {
    height: 60px;
}
#other-func-user {
    position: relative;
}
#other-func-time {
    cursor: default;
}

.other-func-user {
    position: relative;
    height: 60px;
}
.user-option {
    min-width: 30px;
    height: 60px;
}
.user {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    cursor: pointer;
}
.user img {
    width: 30px;
    height: 30px;
    margin-top: calc(100% - 15px);
    z-index: 10;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user i {
    width: 30px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}
.other-func-user p {
    position: absolute;
    display: inline-block;
    left: 40px;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    color: #8779d2;
    white-space: nowrap;
}
.user-option {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    width: 100px;
    height: 60px;
    color: #666;
    background-color: #fff;
    text-align: center;
    border: 1px solid #999;
    font-size: 15px;
    white-space: nowrap;
}
.user-option i {
    margin-right: 5px;
}
.user-option hr {
    position: absolute;
    top: 30px;
}
.user-option div {
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding: 0;
}
.user-option div:hover {
    color: #fff;
    background-color: #2dbe60;
}

.other-func-share-div:hover::before,
.user:hover::before {
    content: '';
    display: block;
    width: 5px;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #606060 transparent transparent;
    position: absolute;
}
.other-func-share-div:hover::after,
.user:hover::after {
    display: block;
    position: absolute;
    height: 20px;
    line-height: 20px;
    background-color: #606060;
    color: rgb(223, 223, 223);
    padding: 0 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 15px;
    white-space: nowrap;
}
.user:hover::after {
    content: '用户';
    left: calc(100% + 10px);
    top: calc(50% - 10px);
    z-index: 20;
}
.user:hover::before {
    left: calc(100% - 4px);
    top: calc(50% - 5px);
    z-index: 20;
}

#other-func-time div {
    height: 50%;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    color: #8779d2;
}
#other-func-share {
    height: 60px;
}
.other-func-share-div {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 60px;
}
.other-func-share-div i {
    position: relative;
    display: block;
    width: 50px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #666;
    cursor: pointer;
}
.other-func-share-div:hover::after {
    left: calc(100% - 10px);
    top: calc(50% - 10px);
    content: '分享';
}
.other-func-share-div:hover::before {
    left: calc(100% - 25px);
    top: calc(50% - 5px);
}
.func-share-list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    height: 100px;
    background-color: #fff;
}

#main-box {
    background-color: #ffffff;
}

.strip {
    float: left;
    z-index: 3;
}

.overide {
    height: 100vh;
    width: 85%;
    overflow: hidden;
}

.strip-img {
    width: 100%;
    cursor: pointer;    
}
.w-box {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

.Bin {
    position: relative;
    width: 100%;
    height: 30%;
    background-color: #333333;
    cursor: pointer;
}

/* 其他的彩色块 */
.block {
    position: absolute;
    z-index: -2;
    top: 100vh;
    width : 100vw;
    height : 100vh;
    opacity: 0;
}

/* 垃圾桶背景彩色块 */
.re-block {
    position: absolute;
    z-index: 2;
    top: 100vh;
    width : 100vw;
    height : 100vh;
    background-color: #f87cb0;
    opacity: 0;
}

.strip-num {
    display: block;
    position:absolute;
    font-size: 20px; 
    font-family:'Playfair Display';
 
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 
	-moz-transform:rotate(90deg); 
	-webkit-transform:rotate(90deg); 
    -o-transform:rotate(90deg); 	
    cursor: default;
}

.strip-sign {
    display: block;
    position:absolute;
    z-index: 4;
    font-size: 25px;
    font-family:'Playfair Display';
    transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	
	-moz-transform:rotate(90deg); 
	-webkit-transform:rotate(90deg); 
	-o-transform:rotate(90deg); 
    cursor: default;
}

.ext-sign {
    cursor: pointer;
}

.back {
    display: block;
    position:absolute;
    top:10%;

    z-index: 2;
    font-size: 25px;
    font-family:'Playfair Display';
    color:#ffffff;
    cursor: pointer;
    opacity:0;
    width: 10%;
    height: 10%;
    line-height: 80px;
    text-align: center;
}

.all-pic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    z-index: -1;
}

