body {
    font-family: 'SimSun', 'Microsoft YaHei';
    background: url(../imgs/4.jpg) no-repeat;
    background-size: 100% 100%;
}

#oNoteBack {
    position: absolute;
    right: 80px;
    width: 100px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#mark {
    width: 640px;
    height: 100%;
    margin: 0 auto;
}
.mark-header {
    position: relative;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    height: 10vh;
    border-bottom: 1px solid #c9c9c9;
    padding: 5px 20px;
    color: #000;
    font-size: 20px;
    text-align: left;
}
.mark-header p {
    position: absolute;
    height: 10vh;
    line-height: 10vh;
}

.mark-main {
    width: 100%;
    height: calc(100% - 90px);
}
.mark-list {
    width: 100%;
    height: 90%;
    padding-top: 10px;
    overflow-x: hidden;
}

.icon-label,
.icon-note,
.icon-notebook {
    position: absolute;
    top: 0;
    left: 10px;
    display: block;
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.icon-label {
    font-size: 26px;
}
.icon-note {
    left: 10px;
    font-size: 20px;
    font-weight: 800;
}
.icon-notebook {
    font-size: 21px;
}
/* 删除图标 */
.icon-jianhao {
    position: absolute;
    display: block;
    top: 0;
    right: 10px;
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}
.icon-jianhao:hover  {
    opacity: .6;
    filter: alpha(opacity = 60);
    -webkit-filter: alpha(opacity = 60);
}

/* 笔记 */
.mark-list-li {
    position: relative;
    width: 90%;
    height: 35px;
    margin: 0 auto;
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}
.mark-list-li:hover {
    background-color: #2dbe60;
}
.mark-list-li:hover * {
    color: #fff !important;
}
.mark-list-li h6 {
    position: absolute;
    top: 0;
    left: 50px;
    height: 35px;
    line-height: 35px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 800;
}

/* 毛玻璃效果 */
.filter-blur {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.filter-blur:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -20px;
    background-image: url(../imgs/4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: -1;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
}