.main-subSection {
    font-family: 'SimSun', 'Microsoft YaHei';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
}
#note {
    background: url(../imgs/2.jpg) no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}
#note-side {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(20vw + 17px);
    width: -moz-calc(20vw + 17px);
    width: -webkit-calc(20vw + 17px);
    height: 100vh;
    border: 1px solid #c9c9c9;
}
.note-side-header {
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    min-height: 50px;
    border-bottom: 1px solid #c9c9c9;
    padding: 0 20px;
    color: #000;
    font-size: 20px;
    text-align: left;
}
.note-side-top {
    position: relative;
    width: 100%;
    height: 50px;
}
.note-side-header p {
    position: absolute;
    min-height: 50px;
    line-height: 50px;
}
#oPlusNote {
    position: absolute;
    left: calc(50% - 17px);
    top: calc(50% - 17px);
    width: 35px;
    height: 35px;
    border: 1px solid #c9c9c9;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
    color: #2dbe60;
    background-color: rgba(255, 255, 255, .4);
}
#oPlusNote i {
    font-size: 25px;
}
#oPlusNote:hover {
    border: 1px solid #2dbe60;
    background-color: #2dbe60;
    color: #fff;
}
#oPlusNote:hover::after {
    content: '点击新建笔记';
    display: block;
    position: absolute;
    left: calc(100% + 10px);
    top: calc(50% - 12px);
    height: 20px;
    line-height: 22px;
    background-color: #606060;
    color: rgb(223, 223, 223);
    padding: 0 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 15px;
    white-space: nowrap;
}
#oPlusNote:hover::before {
    content: '';
    display: block;
    position: absolute;
    left: 29px;
    top: 10px;
    width: 5px;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #606060 transparent transparent;
}
.note-search {
    width: 100%;
}
.note-search-div {
    position: relative;
    width: calc(100% - 20px);
    height: 30px;
    margin: 0 auto 5px auto;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #8779d2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.note-search-input {
    position: absolute;
    left: 15px;
    width: calc(100% - 50px);
    height: 30px;
    border: 0;
    font-size: 16px;
    caret-color: #8779d2;
}
.note-search-input:-ms-input-placeholder {
    color: #555;
    font-size: 16px;
}
.note-search-input::-webkit-input-placeholder {
    color: #555;
    font-size: 16px;
}
.note-search-input:-moz-placeholder {
    color: #555;
    font-size: 16px;
}
.note-search-input::-moz-placeholder {
    color: #555;
    font-size: 16px;
}
.note-search-logo {
    position: absolute;
    right: 8px;
    margin-top: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.note-side-main {
    width: 20vw;
    height: 90vh;
    color: #000;
    font-size: 20px;
}
.note-side-main * {
    background-color: inherit;
}

/* 放所有笔记的父容器 */
#oNote-side-main-ul {
    width: calc(100% + 17px);
    width: -moz-calc(100% + 17px);
    width: -webkit-calc(100% + 17px);
    height: calc(100% - 13px);
    background-color: #dfdfdf;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* 每个笔记 */
#oNote-side-main-ul li {
    position: relative;
    width: calc(100% - 6px);;
    width: -moz-calc(100% - 6px);
    width: -webkit-calc(100% - 6px);
    height: 120px;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0);
    /* border: 3px solid rgba(135, 135, 135, .3); */
}
/* 每个笔记的标题 */
#oNote-side-main-ul li  h5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 20px;
    line-height: 20px;
    padding: 5px 20px 5px 20px;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 800;

    /* 设置文本溢出显示为省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#oNote-side-main-ul li div {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    line-height: 14px;
    padding: 5px 0;
    float: right;
}
/* 提醒，收藏，删除功能 */
#oNote-side-main-ul li div span {
    display: block;
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    text-align: center;
    font-size: 26px;
    z-index: 110px;
}
#oNote-side-main-ul li div span:first-child {
    font-size: 22px;
}
#oNote-side-main-ul li div span:hover  {
    opacity: .6;
    filter: alpha(opacity = 60);
    -webkit-filter: alpha(opacity = 60);
}
.iconColorRed {
    color: red;
}
.iconColorGray {
    color: #666;
}
/* 笔记略缩图的布局 */
#oNote-side-main-ul li main {
    position: absolute;
    top: 30px;
    left: 0;
    width: calc(100% - 45px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 60px;
    line-height: 15px;
    margin: 2px 0 3px 0;
    padding: 0 20px;
    color: #878787;

    /* 文本超出内容区，显示省略号 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;  /*第四行显示省略号*/
    overflow: hidden;
}
/* 从数据库中调笔记时，调整里面的字体大小，防止文字过大引起布局混乱 */
#oNote-side-main-ul li main * {
    font-size: 12px !important;
    overflow: hidden;
}
#oNote-side-main-ul li:hover {
    background-color: #40bc6c;
}
#oNote-side-main-ul li:hover * {
    border-color: #40bc6c;
    background-color: #40bc6c !important;
}
#oNote-side-main-ul li:hover h5,
#oNote-side-main-ul li:hover main *,
#oNote-side-main-ul li:hover i {
    color: #fff !important;
}
/* 笔记的创建时间 */
#oNote-side-main-ul li i {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    height: 15px;
    line-height: 15px;
    padding: 5px 20px 5px 20px;
    color: #878787;
    text-align: right;
    font-size: 15px;
}

/* 笔记编辑栏 */
#note-main {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(80% - 17px);
    width: -moz-calc(80% - 17px);
    width: -webkit-calc(80% - 17px);
    height: 100vh;
    border-top: 1px solid #c9c9c9;
}
#note-main header {
    position: relative;
    width: 78em;
    height: 54px;
    margin: 0 auto;
}
.note-main-change,
#oNoteBack {
    height: 54px;
    line-height: 54px;
    cursor: pointer;
}
.note-main-change {
    float: left;
    margin-left: 10px;
}
.note-main-changeBook,
.note-main-changeLabel {
    position: relative;
    float: left;
    font-size: 20px;
}
.icon-label {
    margin-left: 10px;
    font-size: 19px;
}
.note-main-changeLabel-label {
    font-size: 18px;
}
.note-main-changeBook:hover::before,
.note-main-changeLabel:hover::before {
    content: '';
    display: block;
    position: absolute;
    left: calc(100% - 8px);
    top: calc(50% - 5px);
    width: 5px;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #606060 transparent transparent;
    z-index: 10;
}
.note-main-changeBook:hover::before {
    left: -6px;
    border-color: transparent transparent transparent #606060;
}
.note-main-changeBook:hover::after,
.note-main-changeLabel:hover::after {
    content: '点击移动笔记';
    display: block;
    position: absolute;
    left: calc(100% + 6px);
    top: calc(50% - 10px);
    height: 20px;
    line-height: 20px;
    background-color: #606060;
    color: rgb(223, 223, 223);
    padding: 0 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 15px;
    white-space: nowrap;
    z-index: 10;
}
.note-main-changeBook:hover::after {
    left: calc(-100% - 30px);
}

.selectNotebook {
    position: absolute;
    display: none;
    top: 100%;
    width: 340px;
    min-height: 50px;
    max-height: 400px;
    border: 1px solid rgba(217, 217, 217, 0.4);
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11000;
}
.selectNotebook-ul {
    width: 100%;
    margin: 0;
}
.selectNotebook-ul li {
    position: relative;
    width: calc(100% - 56px);
    height: 50px;
    border: 3px solid #fff;
    padding: 0 25px;
}
.selectNotebook-ul li:hover {
    border: 3px solid #2dbe60;
    background-color: #2dbe60;
}
.selectNotebook-ul li:hover * {
    color: #fff;
}
.selectNotebook-ul li:last-child hr {
    height: 0;
}
.selectNotebook-ul-bookName {
    float: left;
    font-size: 20px !important;
}
.selectNotebook-ul-logo {
    float: right;
}
.curStyle {
    color: #2dbe60;
}

.selectLabel {
    position: absolute;
    display: none;
    top: 100%;
    width: 340px;
    min-height: 50px;
    max-height: 400px;
    border: 1px solid rgba(217, 217, 217, 0.4);
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11000;
}
.selectLabel-ul {
    width: 100%;
    margin: 0;
}
.selectLabel-ul li {
    position: relative;
    width: calc(100% - 56px);
    height: 50px;
    border: 3px solid #fff;
    padding: 0 25px;
}
.selectLabel-ul li:hover {
    border: 3px solid #2dbe60;
    background-color: #2dbe60;
}
.selectLabel-ul li:hover * {
    color: #fff;
}
.selectLabel-ul li:last-child hr {
    height: 0;
}
.selectLabel-ul-labelName {
    float: left;
    font-size: 20px !important;
}
.selectLabel-ul-logo {
    float: right;
}

#oNoteBack {
    position: absolute;
    font-size: 25px;
    right: 80px;
    z-index: 100;
}
/* 笔记编辑工具栏API */
.note-toolbar {
    height: 36px;
    line-height: 28px;
    border-bottom: 1px solid #ccc;
}
/* 笔记文本编辑区域 */
.note-main-footer {
    position: relative;
    width: calc(80vw - 17px);
    width: -moz-calc(80vw - 17px);
    width: -webkit-calc(80vw - 17px);
    height: calc(80% + 35px);
}
.note-main-footer nav {
    height: 36px;
    width: 78em;
    margin: 0 auto;
}
/* 隐藏输入区垂直滚动条的盒子 */
.hidden-scroll-y {
    min-width: 100px;
    max-width: calc(78em - 7px);
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/* 笔记标题输入框 */
.hidden-scroll-y input {
    width: 100%;
    height: 35px;
    border: 0;
    background-color: inherit;
    caret-color: #2dbe60;
    color: #2dbe60;
    font-size: 30px;
}
.hidden-scroll-y input:-ms-input-placeholder {
    color: #2dbe60;
}
.hidden-scroll-y input::-webkit-input-placeholder {
    color: #2dbe60;
}
.hidden-scroll-y input:-moz-placeholder {
    color: #2dbe60;
}
.hidden-scroll-y input::-moz-placeholder {
    color: #2dbe60;
}
/* 输入栏的背景 */
#note-main-footer-editor {
    background: rgba(255, 255, 255, 0.5);
}
/* 隐藏输入栏的滚动条 */
.w-e-text {
    overflow: auto !important;
}
/* 笔记的文本输入栏 */
.note-editor {
    border-top: 1px solid #ccc;
    width: calc(78em + 17px);
    height: calc(100% - 70px);
    overflow: hidden;
}
/* 编辑区域保留li的样式 */
.note-editor ol li {
    list-style: decimal;
}
.note-editor ul li {
    list-style: disc;
}
/* 编辑工具的布局清除li的样式 */
.w-e-panel-container ul li,
.w-e-panel-container ol li{
    list-style: none;
}
#note-text {
    display: none;
}
/* 完成按钮 */
.note-main-complete {
    display: block;
    position: absolute;
    right: 80px;
    bottom: -40px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #2dbe60;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    background-color: #2dbe60;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}