p,h1,h2,h3,h4,h5,h6,ul,ol,li
div,span,input,img,
section,main,header,aside {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, '微软雅黑', '黑体';
    background-size: 100% 100%;
    overflow: hidden;
}

/* 取消文本被选中通用类 */
.unSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* 分割线 */
hr {
    position: absolute;
    display: block;
    bottom: -13px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: #c9c9c9;

    /* 使线变为0.5px */
    -o-linear-gradient: linear-gradient(0deg, transparent 50%, #bdbdbd 50%);
    -ms-linear-gradient : linear-gradient(0deg, transparent 50%, #bdbdbd 50%);
    -webkit-linear-gradient: linear-gradient(0deg, transparent 50%, #bdbdbd 50%);
    background-image: linear-gradient(0deg, transparent 50%, #bdbdbd 50%);
}
