body {
    overflow: hidden;
    background: url(../imgs/2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#oNoteBack {
    position: absolute;
    right: 80px;
    width: 100px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#detail-card {
    position: absolute;
    left: calc(50% - 320px);
    top: 40px;
    width: 640px;
    height: calc(100% - 90px);
    box-shadow: 2px 2px 15px  #8b8a8a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(245, 245, 245);
    z-index: 10;
}
.upload-img-form {
    position: relative;
    width: 100%;
    height: 160px;
}
.upload-img-label {
    display: block;
    width: 0;
    height: 0;
}
#getHeadImgFile {
    position: absolute;
    display: none;
    opacity: 0;
    z-index: -100;
}
.upload-img-label img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 30px;
    left: calc(50% - 60px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 120px;
}

.up-pic {
    display: block;
    border: 1px solid #666;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.form-submit-btn {
    position: absolute;
    bottom: -280%;
    right: 60px;
}
.up-pic:hover,
#changePass-btn:hover {
    color: #fff;
    background-color: #2dbe60;
    border: 1px solid #2dbe60;
}
#changePass-btn {
    display: block;
    margin: 5% 25%;
    width: 50%;
    height: 60px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    border: 1px solid #918c8c;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    cursor: pointer;
}

.table {
    width: 100%;
    margin-top: 30px;
    cursor: default;
}
.table-row {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(196, 196, 196);
}
.table-row h6,
.table-row p {
    display: inline-block;
    height: 50px;
    font-size: 18px;
}
.table-row h6 {
    width: calc(40% - 120px);
    line-height: 60px;
    padding: 0 60px;
}
.table-row p {
    width: 60%;
}